@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: grey;
  margin: 0px;
}

.container {
  border-radius: 20px;
  background-color: white;
  margin: 50px;
  padding: 50px;
  box-shadow: 0px 20px 50px black;
  display: flex;
}

.profile-container {
  width: 75%;
  margin: auto;
  justify-content: center;
  text-align: justify;
  padding-right: 50px;
}

.socmed-container {
  text-align: left;
  font-size: 40px;
}

.dl-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.card-container {
  box-shadow: 0px 20px 50px black;
  border-radius: 20px;
  width: 30%;
  margin: auto;
}

.card-profile {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-description {
  text-align: center;
  padding: 10px;
}

.contact {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  width: 100%;
}

.nav-left {
  display: flex;
  justify-content: left;
}

.logo {
  width: 50px;
}

.ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

.ul a {
  text-decoration: none;
  color: black;
}

.nav-right {
  align-items: center;
  display: flex;
  padding-right: 20px;
}

.btn-contact {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0px;
}

.btn-contact:hover {
  background-color: black;
}
